/* BankOfFlatiron.css */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.starter{
  background-color:rgb(92, 104, 209);
  color:white;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.form-container {
  margin-bottom: 20px;
  
}

.transaction-form {
  display: flex;
  flex-wrap: wrap;
}

.transaction-form input,
.transaction-form button {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.transaction-form button {
  background-color: #80858a;
  color: #fff;
  cursor: pointer;
}

/* Table styles */
.transaction-table {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f5f5f7;
  color:black;
}

/* SearchBar styles */
.search-bar {
  margin-bottom: 20px;
  width: 1200px;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-button {
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #dc3545;
  color: #fff;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #c82333;
}
